
.mt-100 {
    margin-top: 100px; 
}
.mb-100 {
    margin-bottom: 100px;
}


.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}

.header {
    padding-top: 16px;
    background-color: #eee;
    overflow: hidden;
}
.footer {
    color: #887;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 75vh;
}
.pull-middle {
    display: table-cell;
    vertical-align: middle;
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 20px;
}

.input-group input {
    border: 0;
    box-shadow: none;
    padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;   
    border-radius: 20px;
}

/*  Dynamic Number Code */
/*  body {
  font-family: Arial;
  padding: 25px;
  background-color: #f5f5f5;
  color: #808080; 
  text-align: center;
}  */

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 30%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */
.font-num { font-size:15px; font-color:#3c763d; }
.counter { 
	background-color: #ffffff; 
	padding: 20px 0; 
	border-radius: 5px;
}

.count-title { 
	font-size: 40px; 
	font-weight: normal;  
	margin-top: 10px; 
	margin-bottom: 0; 
	text-align: center; 
}
.count-text { 
	font-size: 16px; 
	font-weight: normal;  
	color: #00BB00;
	margin-top: 10px; 
	margin-bottom: 0; 
	text-align: center; 
}

.count-unit { 
	font-size: 20px; 
	font-weight: normal;  
	color: #4ad1e5;
	margin: 0 auto;
	text-align: center; 
}
