<!DOCTYPE HTML>
<html>
<head>
<title>IOT system</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="/thinkphp5/public/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<link href="/thinkphp5/public/static/css/style.css" rel='stylesheet' type='text/css' />
<link href="/thinkphp5/public/static/css/font-awesome.css" rel="stylesheet"> 

</head>
<body id="login">
  <div class="login-logo">
    <div class="widget_head"> IOT system </div>
  </div>
  <h2 class="form-heading">Login</h2>
  <div class="app-cam">
	  <form action = "{:url('login/login')}" method="post">
		<input type="text" name= "username" class="text" value="" onfocus="this.value = '';" >
		<input type="password" name = "password" value="" onfocus="this.value = '';">
		<div class="submit"><input type="submit" onclick="myFunction()" value="Login"></div>
		
		
	</form>
  </div>
   
</body>
<script src="/thinkphp5/public/static/js/jquery.min.js"></script>
<script src="/thinkphp5/public/static/js/bootstrap.min.js"></script>
</html>
